.container-fluid {
    margin-top: 150px;
    background-color: aqua;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#titulo {
    text-align: center;
    color: black;
    font-weight: bold;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
}